

.btn-group {
  margin-left: 10px;
  padding-left: 20px;
}

.second-header{
  margin-left: 10px;
  padding-left: 20px;

}


.third-header{
  margin-left: 10px;
  padding-left: 20px;

}


.input-group {
  margin: 10px;
  padding: 20px;
}


.medium-navbar {
  margin: 10px;
  padding: 10px;
}

.email-list {
font-size: large;
margin: 10px;
padding: 20px;
}

.tab-content{
  margin: 10px;
  padding: 20px;

}

