

.email-list {

font-size: large;

}

#menu-col {
        display: none;
      }
      
#nav-dropdown {
        display: block;
      }


#nav-dropdown {
          display: none !important;
        }


